.List {
	
}

.graphDiv {
    max-width: 1200px; /* Adjust the maximum width as needed */
    max-height: 1000px; /* Adjust the maximum height as needed */
    margin: 0 auto; /* Center the graph horizontally within its container */
}